@media all and (max-width:767px) {
    #header {height: 50px;}
    .logo{text-align: center;}
    .logo img{width: 60px;}
    .gnb_btn {display: block;
        position: absolute; right: 15px;bottom: 37px;}
    .gnb{display: none;position: absolute;top: 50px;
        width: 100%; height: 200px;  }
    .gnb li{width: 100%;height: 50px;}
    .gnb li a{line-height: 50px;border-bottom: 1px solid #777;}
    
    #visual {height: 300px;
     background:#777 url(../images/visual3.jpg) center;
     background-size:cover;    }
    #visual .inner{position: relative;
    margin: 0 auto;max-width: 767px;height: 300px; }
    #visual .inner .typo{display: none;}

    .box{width: 100%; background-color: #555;}
    .box a{color: #fff;}
    .box img{float: left;margin-right: 10px; width: 50%;}
    .box.b2 img,.box.b4 img{
        float: right;text-align: right;
        margin: 0;margin-left: 10px;     }
    
    /* shop by Sport */
    #shop .tit{color: #333;font-size: 2.75em;margin:20px 10px;}
    .shopbox{float: none;width: 98%; margin:1%;}
    .shopbox a img{width: 100%;}
    .shopbox p{padding:20px 5px;color: #313131;}
    .shopbox p strong{display: block;font-size: 1.5em;
    margin-bottom: 10px;}
    .shopbox p em{margin-top: 10px;
         display: block;font-style: normal;padding:5px 30px;
    border-radius: 3px; background-color: #545454; color: #fff;
    text-align: center;}

}

@media all  and (min-width:768px) and (max-width:1023px) {
    .logo{text-align: center;}
    #header .inner{height: 90px;} 

    .gnb{width: 100%;bottom: 0;}
    .gnb li{height: 40px;line-height: 40px; font-size: 1.75em;
    font-weight: bold;}
    .gnb li a{display: block;}
    .gnb li a:hover{
        text-shadow:3px 3px 5px rgba(255,255,255,0.8);    }
    
    #visual {height: 400px;
      background: #777 url(../images/visual4.jpg) center;
      background-size:cover;    }
    #visual .inner{position: relative; margin: 0 auto;
    max-width: 1023px;height: 400px;}

    .typo{position: absolute; left: 550px;top: 20%;}
    .typo {color: darkblue;}
    .typo p:first-child{font-size: 30px;}
    .typo p:last-child{font-size: 20px; opacity: 0.6;}

    .box {width: 49%;margin: 0.5%;}
    .box img{width: 100%;}
    
    /* shop by Sport */
    #shop .tit{color: #333;font-size: 2.25em;margin:20px 10px;}
    .shopbox{float: left;width: 49%;margin: 0.5%;}
    .shopbox a img{width: 100%;}
    .shopbox:last-child{display: none;}
}

@media all and (min-width:1024px) {
   .gnb_btn{display: none;} 
}