@charset 'utf-8';

html,body{width: 100%;height: 100%;}
*{margin: 0;padding: 0;}
body{font-size: 12px;}
li{list-style: none;}
img{border: 0; vertical-align: top;}

body{color: #fff; font-family: '돋움';
 -webkit-text-size-adjust:none; /*text크기조절방지 */}
a{text-decoration: none;color: #fff;}

#header{color: #000;}
#header .inner{position: relative; margin: 0 auto;
max-width: 1200px;height: 70px;}

#visual{background:#777 url(../images/visual5.jpg) center;
        background-size:cover; }
#visual .inner{position: relative; margin: 0 auto;
max-width: 1200px;height: 500px;}

#container {margin: 0 auto; max-width: 1200px;
margin-bottom: 20px;font-size: 12px;}
#container:after{content: '';display: block;clear: both;}

#footer{height: 70px;background-color: #333;}
#footer .inner{margin: 0 auto;max-width: 1200px;}

/* header */

.logo {padding: 15px;}
.gnb{position: absolute;right: 0;bottom: 20px;z-index: 200;width: 800px;}
.gnb::after{content: '';display: block;clear: both;}
.gnb li{float: left;width: 25%;text-align: center;
    height: 20px;line-height: 20px;background-color: #333;}
.gnb li a{display: block;font-size: 14px;transition: all 1s;}
.gnb li a:hover{color: #000;background-color: #f93;}

/* visual */
.typo{position: absolute; left: 30px;bottom: 20%;}
.typo {color: darkblue;}
.typo p:first-child{font-size: 45px;}
.typo p:last-child{font-size: 20px; opacity: 0.6;}

/* container */
.box{float: left;width: 24%;margin: 0.5%;}
.box a{color: #767676; transition:all 0.5s;opacity: 0.7;}
.box a:hover{color:#f93;opacity: 1;}
.box img{width: 100%;}
.b1{background-color: #ff6b67;}
.b2{background-color: #f2df11;}
.b3{background-color: #f70;}
.b4{background-color: #08f;}

.box p{padding: 10px;}
.box p strong{display: block;font-size: 1.25em;}

/* shop by Sport */
#shop{max-width: 1200px; margin: 0 auto;}
#shop:after{content: '';display: block;clear: both;}
#shop .tit{color: #333;font-size: 3em;margin:20px 10px;}
.shopbox{float: left;width: 33%;margin: 0.1%;}
.shopbox a{color: #767676;}
.shopbox a img{width: 100%;}

.shopbox p{padding:20px 5px;color: #333;}
.shopbox p strong{display: block;font-size: 1.5em;}
.shopbox p em{ display: block;font-style: normal;padding:5px 10px;
  border-radius: 3px; background-color: #545454; color: #fff;
  text-align: center;}

/*footer*/
#footer p.copyright{padding-top: 25px;text-align: center;}