@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* detail 스타일 */

#container8{ width: 100%;padding-bottom: 5%;
    border-bottom: 2px solid #aac7aa;}

#container8 h1{width: 50%;margin: 0 auto;padding: 60px 0 40px 0;
color: #1a0381;font-size: 2em;}

#container8 .con2 ul{
    border: 1px solid #06f;  box-sizing: border-box;
    width:90%;overflow: hidden;  margin: auto;
}
#container8 .con2 ul li{ margin: 5px;float: left;width: 45%;}
#container8 .con2 ul li img{width: 100%;vertical-align: top;}

#container8 .con2 .tVal{ width: 30px;height: 30px; border-radius: 5px; 
      margin: auto; text-indent: -9999px;}

#container8 .con2 ul li input[type='button']{
    width: 64px;height: 26px; background-color: #1a0381;
    color: #fff;font-weight: bold; border: 0;
}

#container8 .con3{  box-sizing: border-box;
    width:90%;overflow: hidden;  margin:20px auto;
}
#container8 .con3 h2{ width: 50%;font-size: 1.75em;color: #3007e9;
  text-align: left;margin-bottom: 10px; }
#container8 .con3 p{width: 100%;}
#container8 .con3 p img{width: 100%;}