/* header */

#header {width: 100%;height: 45px;position:absolute;z-index: 9999;}

#header .menuBtn{display: block;position: fixed;right: 10px;top: 7px;
width: 32px;height: 32px;background: url(../img/btn_nav.png) no-repeat;
background-size:100% 100%; text-indent: -9999em; cursor: pointer;}
#header .search_bt{display: block;position: fixed;right: 50px;top: 7px;
width: 32px;height: 32px;background: url(../img/btn_search2.png) no-repeat;
background-size:100% 100%; text-indent: -9999em; cursor: pointer;}
#header .logo{position: fixed;width: 50px;height: 43px;
padding: 4px 100% 0 10px; background-color: #009;font-size: 1em;
font-family: 'Poiret One';line-height: 13px;text-transform: uppercase;}
#header .logo a{color: #eee;}

/* search */
.search_wrap{ width: 100%;position: fixed;top: 45px;border-radius: 25px;
 background-color: #09f;padding:10px 0; height: 30px; display: none;}

.search_wrap .search_box input[type=search]{
   float: left;width: 70%;border: 0;margin-left: 30px;height: 30px;
   outline: none; }
 .search_wrap .search_box input[type=image]{
    float: right;width:20px;height: 20px;margin: 5px 30px 0 0; }
 
/* nav 스타일 */
#header .nav:after{content:'';display: block;clear: both;}
#header .nav {position: fixed;top: 47px;width: 100%;
 border-bottom: 3px solid #777; display: none; }
#header .nav li{display: block;width: 100%; height: 40px;line-height: 40px;
 text-align: center;font-size: 1em;font-weight: bold;background-color: #333;} 
 #header .nav li a{display: block;color: #eee; text-transform: uppercase;}
