@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* 회원가입폼 */

#container4{ background-color: #eee; width: 100%; padding-bottom: 5%;
border-bottom: 2px solid #aac7aa;}
#container4 h1{width: 50%;margin: 0 auto;
 padding: 60px 0 40px 0; color: #043897; font-size: 2em; }
#container4 form{width: 80%;padding-top: 20px; margin: 0 auto;
margin-bottom: 40px; border: 1px dashed #ccc;}
#container4 form table{width: 100%;border-collapse:collapse;}
#container4 form tbody th{width: 30%; padding: 5px 0; font-size: 1em;
color: #777;}
#container4 form td{width: 70%; padding: 5px 0;
padding-left: 10px; text-align: left;}
#container4 form td input {width: 80%;}
#container4 form td select{width: 80%;}

#container4 #confirm {text-align: center;padding: 10px 0; 
    margin:20px 0 20px;}
#container4 #confirm input:first-child{
     width: 20%;margin: 5px;padding: 5px 0;
     border: 1px solid #043897; background-color: #5754e9;
     color:#fff;font-size: 1.25em;font-weight: bold;
     cursor: pointer;
}
#container4 #confirm input:last-child{
    width: 20%;margin: 5px;padding: 5px 0;
    border: 1px solid #926c03; background-color: #e7b750;
    color:#fff;font-size: 1.25em;font-weight: bold;
    cursor: pointer;
}  
     